body {
    margin: 0px;
    padding: 0px;
    background-color: black;
}

#noticias {
    font-family: 'Varela Round', sans-serif;
}

section,img {
    border-radius: 80px;
}

#bienvenida {
    border-style:double;
    border-radius: 20px;
    border-width: 20px;
    width: 60pc;
    padding: 10px;
    margin: 10px;
    background-color: turquoise;
}

#noticia_1 {
    border-style:double;
    border-radius: 20px;
    border-width: 20px;
    width: 70pc;
    padding: 10px;
    margin: 10px;
    background-color: turquoise;
}

#noticia_2 {
    border-style:double;
    border-radius: 20px;
    border-width: 20px;
    width: 80pc;
    padding: 10px;
    margin: 10px;
    background-color: turquoise;
}

#noticia_3 {
    border-style:double;
    border-radius: 20px;
    border-width: 20px;
     width: 90pc;
    padding: 10px;
    margin: 10px;
    background-color: turquoise;
}

ul{
    color: white;
}

#cajacomentario{
    color: white;
    text-align: center;
}

#comentarios{
    color: white;
    font-family: 'Varela Round', sans-serif;
}


#comentario_1{
    border-style:dashed;
    border-radius: 30px;
    border-width: 5px;
    border-color: cyan;
    padding: 10px;
    margin: 10px;
}

#comentario_2{
    border-style:dashed;
    border-radius: 30px;
    border-width: 5px;
    border-color: cyan;
    padding: 10px;
    margin: 10px;
    
}

#comentario_3{
    border-style:dashed;
    border-radius: 30px;
    border-width: 5px;
    border-color: cyan;
    padding: 10px;
    margin: 10px;
}

#comentario_4{
    border-style:dashed;
    border-radius: 30px;
    border-width: 5px;
    border-color: cyan;
    padding: 10px;
    margin: 10px;
}

#Copy{
    color: white;
}

#deja_tu_comentario{
    color: white;
}

/*
*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    border: none;
    outline: none;
}
*/

body>header {
    background-color: rgb(19, 19, 19);
    color: #00ffff;
    font-family: 'Varela Round', sans-serif;
    text-align: center;
}
header>div>img{
    position: absolute;
    border-radius: 90px;
    left: 1px;
    top: 5px;
    width: 200px;
}


body>header>div{
    display :inline-block
}

aside{
    position: absolute;
    top: 205px;
    width: 180px;
    right: 30px;
    z-index: 2;
    background-color: white;
    border: 1px solid grey;;
    border-radius: 25px;
    padding: 1px;
    font-family: 'Varela Round', sans-serif;
    text-align: center;
}

