/* css para la pagina index*/
body {
  font-family: "Varela Round", sans-serif;
  color: black;
}

header {
  border: 3px solid black;
  border-radius: 0px;
}

.a-text {
  font-size: xx-large !important;
}

header li {
  background-color: white;
  border: 2px solid black;
  border-radius: 25px;
  padding: 20px;
}

h2 {
  text-align: center;
  text-decoration: underline;
  font-family: "Varela Round", sans-serif;
  padding: 20px;
}

p {
  font-family: "Varela Round", sans-serif;
}

.carousel-item {
  display: flex;
  justify-content: center;
  align-items: center;
}

.imagenes-carrusel {
  width: 100%;
  height: 100%;
  margin: auto;
}

.info-general {
  text-align: center;
}

.texto-galeria {
  border-radius: 50px;
  border-style: solid;
  padding: 1%;
  margin: 2% 0% 2%;
}

.galeria {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, 250px);
  grid-template-areas: "img1 img2 img3 img3" "img1 img4 img5 img6" "img7 img4 img8 img8";
  grid-gap: 15px;
  padding: 20px;
  border-radius: 20px;
  border-style: solid;
}

@media only screen and (max-width: 990px) {
  .galeria {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 180px);
    grid-template-areas: "img1 img2 img3 img3" "img1 img4 img4 img6" "img7 img4 img4 img8";
    grid-gap: 30px;
    padding: 30px;
  }
}
@media only screen and (max-width: 770px) {
  .galeria {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 180px);
    grid-template-areas: "img1 img1 img3 img3" "img7 img7 img6 img6" "img7 img7 img8 img8";
    grid-gap: 30px;
    padding: 40px;
  }
}
@media only screen and (max-width: 550px) {
  .galeria {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 180px);
    grid-template-areas: "img1 img1 img3 img3" "img6 img6 img6 img6" "img6 img6 img6 img6";
    grid-gap: 30px;
    padding: 40px;
  }
}
.item {
  border: 3px solid #000;
  background-size: cover;
  background-position: right;
  border-radius: 10px;
  transition: all 0.9s;
}

.item:hover {
  transform: scale(1.1);
}

.item1 {
  background-image: url(../assets/img/img1.jpg);
  grid-area: img1;
}

.item2 {
  background-image: url(../assets/img/img2.jpg);
  grid-area: img2;
}

.item3 {
  background-image: url(../assets/img/img3.jpg);
  grid-area: img3;
}

.item4 {
  background-image: url(../assets/img/img4.jpg);
  grid-area: img4;
}

.item5 {
  background-image: url(../assets/img/img5.jpg);
  grid-area: img5;
}

.item6 {
  background-image: url(../assets/img/img6.jpg);
  grid-area: img6;
}

.item7 {
  background-image: url(../assets/img/img7.jpg);
  grid-area: img7;
}

.item8 {
  background-image: url(../assets/img/img8.jpg);
  grid-area: img8;
}

.imagenes { /* este codigo se reutilizo en todas las paginas */
  width: 400px;
  border-radius: 10px;
  transition: all 0.9s;
}

.imagenes:hover {
  transform: scale(1.1);
}

@media only screen and (max-width: 550px) {
  .imagenes {
    display: inline-block;
    width: 100%;
  }
}
.section1 div {
  display: inline-block;
  text-align: center;
  font-family: "Varela Round", sans-serif;
}

.section2 div {
  display: inline-block;
  text-align: center;
  font-family: "Varela Round", sans-serif;
}

/* css para la pagina nosotros */
.sobrenosotros h2 {
  text-decoration: underline;
}

.sobrenosotros {
  text-align: center;
  border-radius: 50px;
  border-style: solid;
}

.ftr-nosotros {
  margin-top: 12%;
  text-align: center;
  background-color: black;
  font-family: "Varela Round", sans-serif;
  color: white;
  padding-bottom: 10px;
}

/* css para la pagina servicios */
.servicios h2 {
  text-decoration: underline;
  font-family: "Varela Round", sans-serif;
}

.servicios {
  text-align: center;
  font-family: "Varela Round", sans-serif;
  padding: 50px;
  border-radius: 50px;
  border-style: solid;
}

.sectionservicios div {
  display: inline-block;
  text-align: center;
  padding-left: 150px;
  font-family: "Varela Round", sans-serif;
}

/*CSS para la pagina productos*/
.sectionproductos div {
  display: inline-block;
  text-align: center;
  padding-left: 150px;
  padding-bottom: 2%;
  font-family: "Varela Round", sans-serif;
}

.sectionproductos h2 {
  text-align: start;
}

.imagenesproductos {
  width: 380px;
  border-radius: 10px;
  transition: all 0.9s;
}

.imagenesproductos:hover {
  transform: scale(1.1);
}

@media only screen and (max-width: 1020px) {
  .imagenesproductos {
    width: 180px;
  }
}
@media only screen and (max-width: 919px) {
  .imagenesproductos {
    width: 190px;
  }
}
/* css para la pagina contactos*/
.fab {
  font-size: xx-large;
  padding-top: 50px;
  padding-left: 50px;
}

/*# sourceMappingURL=style.css.map */
