// Variables
$font-family: "Varela Round", sans-serif; 
$color-border: black; 
$border-radius: 0px; 
$padding: 20px; 
$color-texto: black; 
$titulo-section: center;
$color-nav-click: #00ccff;

// Estilos generales
html {
    scroll-behavior: smooth;
}

body {
    font-family: $font-family;
    color: $color-texto;
}

header {
    border: 3px solid $color-border;
    border-radius: $border-radius;
}

.a-text{
    font-size: xx-large !important;
}

.navbar-nav .nav-item {
    transition: background-color 0.3s ease-in, color 0.3s ease-in-out;
  }
  
  .navbar-nav .nav-item:hover {
    background-color: $color-nav-click; 
    color: white; 
  }

header li {
    background-color: white;
    border: 2px solid $color-border;
    border-radius: 25px;
    padding: $padding;
}

h2{
    text-align: center;
    text-decoration: underline;
    font-family: $font-family;
    padding: 20px;
}

p{
    font-family: $font-family;
}

.carousel-item {
    display: flex; 
    justify-content: center; 
    align-items: center; 
}

.imagenes-carrusel {
    width: 100%;
    height: 100%; 
    margin: auto; 
}

.info-general{
    text-align: center;
}

.texto-galeria{
    border-radius: 50px;
    border-style: solid;
    padding: 1%;
    margin: 2% 0% 2%;
}

.galeria{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 250px);
    grid-template-areas: 
    "img1 img2 img3 img3"
    "img1 img4 img5 img6"
    "img7 img4 img8 img8";
    grid-gap: 15px;
    padding: 20px;
    border-radius: 20px;
    border-style: solid;
}

// Media queries
@media only screen and (max-width:990px){
    .galeria{
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(3, 180px);
        grid-template-areas: 
        "img1 img2 img3 img3"
        "img1 img4 img4 img6"
        "img7 img4 img4 img8";
        grid-gap: 30px;
        padding: 30px;
    };
}

@media only screen and (max-width:770px){
    .galeria{
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(3, 180px);
        grid-template-areas: 
        "img1 img1 img3 img3"
        "img7 img7 img6 img6"
        "img7 img7 img8 img8";
        grid-gap: 30px;
        padding: 40px;
    };
}

@media only screen and (max-width:550px){
    .galeria{
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(3, 180px);
        grid-template-areas: 
        "img1 img1 img3 img3"
        "img6 img6 img6 img6"
        "img6 img6 img6 img6";
        grid-gap: 30px;
        padding: 40px;
    };
}

// Estilos de los items de la galería
.item{
    border: 3px solid #000;
    background-size: cover;
    background-position: right;
    border-radius: 10px;
    transition: all 0.9s;
}

.item:hover{
    transform: scale(1.1);
}

@for $i from 1 through 8 {
    .item#{$i} {
        background-image: url(../assets/img/img#{$i}.jpg);
        grid-area: img#{$i};
    }
}

.imagenes {
    width: 400px;
    border-radius: 10px;
    transition: all 0.9s;
}

.imagenes:hover{
    transform: scale(1.1);
}

@media only screen and (max-width:550px){
    .imagenes{
        display: inline-block;
        width: 100%; 
    };
}

.section1 div, .section2 div, .sectionproductos div{
    display: inline-block;
    text-align: center;
    font-family: $font-family;
}

/* css para la pagina nosotros */
.sobrenosotros h2{
    text-decoration: underline;
}

.sobrenosotros{
    text-align: center;
    border-radius: 50px;
    border-style: solid;
    margin-top: 1%;
}

/* css para la pagina servicios */
.servicios h2{
    text-decoration: underline;
    font-family: $font-family;
}

.servicios{
    text-align: center;
    font-family: $font-family;
    padding: $padding*5;
    border-radius: 50px;
    border-style: solid;
}

.sectionservicios div{
    display: inline-block;
    text-align: center;
    padding-left: 150px;
    font-family: $font-family;
}

.faq {
    max-width: 800px; /* Ajusta este valor según tu diseño */
    margin: auto; /* Centra el contenido horizontalmente */
  }
  

/*CSS para la pagina productos*/

.home-producto{
    border-radius: 30px;
    margin-top: 40px;
    text-align: $titulo-section;
    border-style: solid;

}

.sectionproductos h2{
    text-align: $titulo-section;
}

img{ 
    transition: all 0.9s;
}

img:hover{
    transform: scale(1.1);
}

.card {
    max-width: 300px; 
  }

  .avatar {
    width: 50px; 
    height: 50px; 
    border-radius: 50%; 
    margin-right: 10px; 
  }

/* css para la pagina contactos*/

.home-contacto{
    border-radius: 30px;
    margin-top: 40px;
    text-align: $titulo-section;
    border-style: solid;

}

footer{
    margin-top: 40px;
}